<h1>Crear libro</h1>
<form method="post" action="creallibre.php">
  <table>
    <tr>
      <td>Nombre</td>
      <td><input type="text" name="nom" value="" size="32" maxlength="128"></td>
    </tr>
    <tr>
      <td>Autor</td>
      <td><input type="text" name="autor" value="" size="32" maxlength="128"></td>
    </tr>
    <tr>
      <td>ISBN</td>
      <td><input type="text" name="isbn" value="" size="32" maxlength="32"></td>
    </tr>
    <tr>
      <td>Puntuación</td>
      <td>
        <select name="puntuacio">
          <option selected value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Género</td>
      <td><input type="text" name="genere" value="" size="32" maxlength="128"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Enviar">
        <input type="reset"></td>
    </tr>
  </table>
</form>
