<h1>Crear usuari</h1>
<form method="POST" action="creausuari.php">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" name="id" value="" size="8" maxlength="8"></td>
        </tr>
        <tr>
            <td>Nom:</td>
            <td><input type="text" name="nom" value="" size="32" maxlength="32"></td>
        </tr>
        <tr>
            <td>Clau:</td>
            <td><input type="password" name="clau" value="" size="32" maxlength="64"></td>
        </tr>
        <tr>
            <td>Tipus:</td>
            <td><input type="text" name="tipus" value="" size="2" maxlength="2"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Crear">
            <input type="reset" value="Netejar"></td>
        </tr>
    </table>
</form>
